*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contener{
    background-color: blueviolet;
}
p{
    font-size: 64px;
}
@media screen and (min-width: 600px) {
    .contener{
        background-color: rgb(255, 87, 87);
    }
}@media screen and (min-width: 768px) {
    .contener{
        background-color: rgb(60, 255, 12);
    }
}